/*Core background for all webpages*/
body {background-color: #d1d1e0;}

/*Position of graphs on landing page*/

#right-up1{
    position: absolute;
    bottom: 1%;
    right: 0%;
}

#left-up1{
    position: absolute;
    bottom: 1%;
    right: 0%;
}

#left-down1{
    position: absolute;
    bottom: -7%;
    right: -50%;
}

#right-down1{
    position: absolute;
    bottom: -10%;
    right: -50%;
}

/*Position of graphs on visualization pages*/

#right-up2{
    position: absolute;
    bottom: 28%;
    right: 0%;
}

#left-up2{
    position: absolute;
    bottom: 27%;
    right: 0%;
}

#left-down2{
    position: absolute;
    bottom: -20%;
    right: -50%;
    z-index: 1;
}

#right-down2{
    position: absolute;
    bottom: -20%;
    right: -50%;
    z-index: 1;
}
