/*LANDING PAGE*/
/*1st row: Latitude / Plots / Comparison / Data*/
body {background-color: #d1d1e0;}

#latitude{
font-style: italic;

}

#left-up{
    position: absolute;
    bottom: 50%;
    right: 23%;
    padding: 15px;
    background-color: white;

}

#right-up{
    position: absolute;
    bottom: 50%;
    right: 10%;
}

#down-left{
    position: absolute;
    bottom: 25%;
    right: 23%;
}

#down-right{
    position: absolute;
    bottom: 25%;
    right: 10%;
}